/.config/direnv/*
/.config/heroku
/.config/hub
/.config/karabiner/assets/*
/.config/nvim/autoload/*
/.config/nvim/plugged/*
/.config/codeclimate/*
.config/configstore/*
.config/gtk-2.0/*
.config/brewfile/*
Brewfile
